.userInfo {
    &>ul {
        width: fit-content;
        height: fit-content;
    }

    background-color: #eff2f5;
    display: flex;
    width: 100%;
}

.form {
    margin: auto;
    width: 60%;

    background-color: white;
    border-radius: 15px;
    padding: 20px 24px;
    border: solid 1px rgb(131, 130, 130);
}

.info {
    margin: 20px auto auto;
    width: 60%;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    padding: 20px 24px;

    &>span {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .content {
        text-transform: capitalize;
    }
}