.userInfo {
    &>ul {
        width: fit-content;
        height: fit-content;
    }

    background-color: #eff2f5;
    display: flex;
    width: 100%;
}

.form {
    margin: auto;
    width: 60%;

    background-color: white;
    border-radius: 15px;
    padding: 20px 24px;

}

.info {
    height: fit-content;
    width: fit-content;
    flex-direction: column;
    background-color: white;
    margin: 10px;
    padding: 20px 24px;

    &>span {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .content {
        text-transform: capitalize;
    }
}

.avatarWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 120px;
    }
}

.Tabs {
    margin: 10px;
    background: white;
    flex: 1;
    padding: 10px;
}