.header {
    padding: 16px 24px;
    background-color: white;

    h2 {
        margin: 0;
    }
}

.total {
    margin: 10px 0;
    padding: 10px;
    background: white;
}

.list {
    flex-wrap: wrap;


    &>div {
        display: inherit;
        flex-direction: column;
        width: 23%;
        margin: 0 10px;
        align-items: center;
        background-color: white;

        h4 {
            margin: 20px 0;
            font-size: 40px;
        }
    }
}