.header {
    padding: 16px 24px;
    background-color: white;

    h3 {
        margin: 0;
    }
}

.main {
    padding: 24px;
    flex-direction: column;


}

.Search {
    padding: 24px;
    background-color: white;
    margin-bottom: 16px;
}

.tableImg {
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.wraper {
    flex-direction: column;
    align-items: flex-end;

    .function {
        padding: 12px 20px;
        background-color: white;
        width: 100%;

    }

    .table {
        width: 100%;
    }
}

.stepsContent {
    flex-direction: column;
    max-height: 100%;
    overflow-y: auto;
    padding: 24px;
}

.form {
    flex-direction: column;

    .formItem {
        width: 100%;

        &>div {
            flex-direction: column;
            display: flex;

            &>:first-child {
                align-self: flex-start;
            }

        }
    }
}

.submit {
    margin-top: 15px;
}

.quill {

    margin-bottom: 10px;
}