@import '~antd/dist/antd.css';

.ant-dropdown-menu-title-content {
    white-space: nowrap;
}

.App {
    flex-direction: column;
    height: 100vh;

    .Cotainer {
        display: inherit;
        flex: 1;
        height: 100%;
        padding-top: 50px;

        .content {
            flex: 1;
            height: 100%;
            overflow-x: unset;
            overflow-y: auto;
        }
    }

    .content {
        flex-direction: column;
        background-color: #eff2f5;
    }
}

.ck-balloon-panel {
    z-index: 20000;
}

.vetical-input {
    .ant-row {
        flex-direction: column;
        align-items: flex-start;
    }
}

.icon {
    width: 20px;
    height: 15px;
    object-fit: cover;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.formAvatar {
    width: 48%;
    margin: 0;


    &>div {
        flex-direction: column;
        display: flex;

        &>:first-child {
            align-self: flex-start;
        }

    }
}