.header {
    padding: 16px 24px;
    background-color: white;

    h3 {
        margin: 0;
    }
}

.tabWraper {
    margin: 20px 20px;
    padding: 0 20px;
    background-color: white;
    height: 100%;
}

.icon {
    width: 30px;
    object-fit: cover;
}

.select {
    width: 100%;
}